.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 50, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: rgb(40, 40, 50);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    color: white;
}

.modalTitle {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.listItem {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.listItem:last-child {
    border-bottom: none;
}

.link {
    text-decoration: none;
    color: white;
}

.logoutButton,
.closeButton {
    width: 100%;
    padding: 10px;
    margin-top: 20px; /* 버튼과 위 컨테이너 사이의 여백 추가 */
    border: none;
    border-radius: 5px;
    background-color: rgb(116, 120, 240);
    color: rgb(20, 20, 20);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.2rem;
}

.logoutButton:hover,
.closeButton:hover {
    background-color: rgb(100, 100, 220);
}
