.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px 10px;
    background-color: rgb(40, 40, 50);
    color: white;
    position: fixed; /* 상단 고정 */
    width: 95%;
    z-index: 1000; /* 다른 요소들보다 위에 위치 */
    margin: 0 auto; /* 가운데 정렬 */
}

.headerLeft {
    flex: 1;
}

.headerCenter {
    flex: 2;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.headerRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: white; /* 아이콘 색상을 현재 텍스트 색상과 일치 */
}

@media (max-width: 600px) {
    .title {
        font-size: 1.3rem;
        font-weight: bold;
    }
}

.content {
    padding-top: 60px; /* 상단바 높이만큼 여백 추가 */
}
