/* MyCoinPage.module.css */

.container {
    background-color: #282832;
    color: white;
    padding: 20px;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #30363d;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.searchInput {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #30363d;
    background-color: #161b22;
    color: white;
}

.totalAssets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #30363d;
}

.assetDetails {
    padding: 10px 0;
    border-bottom: 1px solid #30363d;
}

.coinsList {
    margin-top: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 50vh; /* Adjust the height as needed */
}

.tableContainer {
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.coinTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.coinTable th,
.coinTable td {
    padding: 10px;
    border-bottom: 1px solid #30363d;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
}

.coinTable th {
    background-color: #161b22;
}

.coinTable td {
    background-color: #282832;
}

.profit {
    color: #cd0c22; /* Red color for positive profit */
}

.loss {
    color: #467ed4; /* Blue color for negative profit */
}

@media (max-width: 600px) {
    .title {
        font-size: 20px;
    }

    .searchInput {
        width: 100%;
    }

    .coinTable th,
    .coinTable td {
        font-size: 12px;
        padding: 6px;
    }
}
