/* 전체 페이지의 스크롤을 막기 위해 body에 overflow: hidden 추가 */
body {
    overflow: hidden;
}

.container {
    background-color: #282832;
    color: white;
    padding: 10px 0 20px 0;
    height: calc(100vh - 8vh);
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden; /* 전체 페이지에서 스크롤을 막기 위한 설정 */
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center; /* 중앙 정렬을 위한 설정 */
    align-items: center; /* 세로 정렬을 위한 설정 */
    padding-bottom: 50px;
    border-bottom: 1px solid #444;
    position: relative; /* 위치 조정을 위한 설정 */
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.icon {
    width: 24px;
    height: 24px;
    fill: white; /* 아이콘 색상을 현재 텍스트 색상과 일치 */
    position: absolute; /* 절대 위치를 사용하여 오른쪽에 위치시킴 */
    right: 20px; /* 오른쪽 여백 설정 */
}

.Midtitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.totalAssets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #444;
}

.assetDetails {
    padding: 10px 20px;
    border-bottom: 1px solid #444;
}

.coinsList {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 특정 영역에 스크롤 설정 */
}

.tableContainer {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto; /* 특정 영역에 스크롤 설정 */
    display: flex;
    flex-direction: column;
}

.coinTable {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
}

.coinTable thead th {
    position: sticky;
    top: 0;
    background-color: rgb(40, 40, 50);
    color: white;
    z-index: 1;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: inset 0 1px 0 #ddd, inset 0 -1px 0 #ddd;
}

.coinTable th,
.coinTable td {
    padding: 10px 0;
    border-bottom: 1px solid #30363d;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coinTable td {
    background-color: #282832;
}

.profit {
    color: #cd0c22;
}

.loss {
    color: #467ed4;
}

.neutral {
    color: white;
}

@media (max-width: 600px) {
    .title {
        font-size: 1.3rem;
        font-weight: bold;
    }
    .Midtitle {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .searchInput {
        width: 100%;
    }

    .coinTable th,
    .coinTable td {
        font-size: 12px;
        padding: 6px 0;
    }
}

.link {
    text-decoration: none;
    color: white;
}
