.container {
    background-color: #282832;
    color: white;
    padding: 20px;
    height: calc(100vh - 8vh);
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-y: auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.coinItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #3a3a4f;
}

.coinHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.coinName {
    font-weight: bold;
    font-size: 1.2rem;
}

.coinPrice {
    font-weight: normal;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }

    .coinName,
    .coinPrice {
        font-size: 1rem;
    }
}
