.content {
    flex: 1;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    color: white;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px); /* 화면 전체 높이를 차지하게 설정 */
    box-sizing: border-box;
    overflow: hidden; /* content의 스크롤을 없앰 */
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
}

.searchIcon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    fill: #ccc;
}

.searchBar input {
    width: 100%;
    padding: 10px 10px 10px 35px; /* 아이콘 공간 확보 */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩을 포함한 박스 모델 */
    background-color: rgb(50, 50, 50);
    color: white;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
    color: white;
    margin: 0 5px;
    cursor: pointer;
}

.tab.active {
    background-color: #007bff;
    color: white;
}

.exchangeTableContainer {
    flex: 1;
    overflow-y: auto; /* exchangeTableContainer의 스크롤을 허용 */
    margin-top: 10px;
    border: 1px solid #ddd; /* 컨테이너에 보더 추가 */
}

.exchangeTable {
    width: 100%;
    border-collapse: collapse;
}

.exchangeTable thead th {
    position: sticky;
    top: 0;
    background-color: #007bff;
    color: white;
    z-index: 1;
    box-sizing: border-box; /* 패딩을 포함한 박스 모델 */
    border: 1px solid #ddd; /* 보더 추가 */
}

.exchangeTable th,
.exchangeTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    box-sizing: border-box; /* 패딩을 포함한 박스 모델 */
    white-space: nowrap; /* 텍스트가 한 줄에 나오도록 설정 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 '...'으로 표시 */
}

.exchangeTable th {
    background-color: #007bff;
    color: white;
}

.price {
    display: inline-block; /* 인라인 블록으로 설정하여 애니메이션이 제대로 작동하도록 함 */
}

.updated {
    animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        background-color: rgba(255, 255, 0, 0.3);
    }
    50% {
        background-color: rgba(255, 255, 0, 0);
    }
    100% {
        background-color: rgba(255, 255, 0, 0.3);
    }
}

/* 반응형 스타일 */
@media (max-width: 600px) {
    .exchangeTable th,
    .exchangeTable td {
        font-size: 12px;
        padding: 6px;
    }
}
