.content {
    flex: 1;
    padding: 10px;
    background-color: rgb(40, 40, 50);
    color: white;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 15vh);
    box-sizing: border-box;
    overflow: hidden;
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
}

.searchIcon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    fill: #ccc;
}

.searchBar input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: none; /* 기존 보더 제거 */
    border-bottom: 1px solid #ccc; /* 아래쪽 보더만 추가 */
    border-radius: 0; /* 보더 반경 제거 */
    box-sizing: border-box;
    background-color: rgb(40, 40, 50);
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(40, 40, 50);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Noto Sans KR', sans-serif;
}

.tab:not(:first-child):not(:last-child) {
    margin: 0 5px;
}

.tab.active {
    background-color: rgb(116, 120, 240);
    color: rgb(20, 20, 20);
}

.exchangeTableContainer {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 0;
    padding-right: 0;
}

.exchangeTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.exchangeTable thead th {
    position: sticky;
    top: 0;
    background-color: rgb(40, 40, 50);
    color: white;
    z-index: 1;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: inset 0 1px 0 #ddd, inset 0 -1px 0 #ddd; /* 위아래 테두리를 추가 */
}

.exchangeTable th,
.exchangeTable td {
    border-bottom: 1px solid #444;
    padding: 8px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.exchangeTable th:nth-child(1),
.exchangeTable td:nth-child(1) {
    width: 32%;
    text-align: center;
}

.exchangeTable th:nth-child(2),
.exchangeTable td:nth-child(2) {
    width: 20%;
    text-align: right;
}

.exchangeTable th:nth-child(3),
.exchangeTable td:nth-child(3) {
    width: 18%;
    text-align: right;
}

.exchangeTable th:nth-child(4),
.exchangeTable td:nth-child(4) {
    width: 30%;
    text-align: center;
}

.price {
    display: inline-block;
    width: 100%; /* 값 변경 시 너비 고정 */
}

@keyframes highlight {
    0% {
        background-color: rgba(246, 226, 75, 1);
    }
    100% {
        background-color: rgba(246, 226, 75, 0);
    }
}

.priceUp {
    color: rgb(71, 147, 227);
    transition: color 1s ease-in-out;
    animation: highlight 1.5s forwards;
}

.priceDown {
    color: #cd0c22;
    transition: color 1s ease-in-out;
    animation: highlight 1.5s forwards;
}

.changeUp {
    color: rgb(71, 147, 227);
}

.changeDown {
    color: #cd0c22;
}

@media (max-width: 600px) {
    .exchangeTableContainer {
        overflow-x: auto;
    }
    .exchangeTable th,
    .exchangeTable td {
        font-size: 12px;
        padding: 6px;
    }
}

.exchangeTable td a {
    color: white;
    text-decoration: none;
}

.exchangeTable td a:hover {
    color: lightgray;
}
