.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(34, 34, 42); /* 배경색 변경 */
    color: white; /* 글자색 변경 */
    position: relative; /* 위치 상대적 설정 */
    overflow-y: auto; /* 세로 스크롤 허용 */
    height: calc(100vh - 10vh);
    box-sizing: border-box; /* 패딩 포함한 높이 설정 */
}

.backButton {
    position: absolute;
    top: 20px;
    right: 20px; /* Back 버튼 오른쪽으로 이동 */
    background: none;
    border: none;
    cursor: pointer;
}

.backIcon {
    width: 24px;
    height: 24px;
}

.chartContainer {
    width: 100%; /* 전체 너비 사용 */
    height: 50vh; /* 차트 높이 설정 */
    margin-bottom: 20px;
}

.canvas {
    width: 100%; /* 차트의 너비를 100%로 설정 */
    height: 100%; /* 차트의 높이를 100%로 설정 */
}

.buttonContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.actionButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* 부드러운 호버 효과 추가 */
}

.actionButton:hover {
    background-color: #0056b3;
}

.formContainer {
    background-color: #1f1f1f; /* 폼 배경색 변경 */
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px; /* 추가적인 공간 확보 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 효과 추가 */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.buyCoinsInput {
    width: 100%; /* 입력 상자의 너비를 100%로 변경 */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 4px;
    font-size: 16px; /* 폰트 크기 증가 */
    background-color: #2a2a2a;
    color: white;
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; /* 버튼 간격 추가 */
}

.buttonGroup button {
    flex: 1 1 48%; /* 버튼 크기 조정 */
    margin: 5px 0;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* 부드러운 호버 효과 추가 */
}

.buttonGroup button:hover {
    background-color: #218838;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color: #17a2b8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* 부드러운 호버 효과 추가 */
}

.submitButton:hover {
    background-color: #117a8b;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #c0c0c0; /* 글자색 변경 */
}
