.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10vh); /* 60px는 푸터의 높이로 가정 */
    position: relative;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3498db transparent #3498db transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
}

.fadeEnter {
    opacity: 0;
    transform: translateY(-20px);
}
.fadeEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}
.fadeExit {
    opacity: 1;
    transform: translateY(0);
}
.fadeExitActive {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.refreshButton {
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 22px;
    background-color: rgb(40, 40, 50);
    color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.refreshButton:hover {
    background-color: rgb(30, 30, 40);
}
