.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3498db transparent #3498db transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

/* 추가된 트랜지션 효과 */
.fadeEnter {
    opacity: 0;
    transform: translateY(-20px);
}
.fadeEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}
.fadeExit {
    opacity: 1;
    transform: translateY(0);
}
.fadeExitActive {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

/* 새로고침 버튼 스타일 */
.refreshButton {
    margin-top: 40px; /* 스피너와의 간격 */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.refreshButton:hover {
    background-color: #2980b9;
}
